doctype html
html(lang="en")
    head
        title Let's invite A(R)lice from Wonderland to our browsers
        meta(charset='utf-8')
        meta(name='author', content=' ')
        meta(name='description', content=' AR  ')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
        //- link(rel="icon" href="common/img/favicon.ico")

        link(href='reveal/reveal.css', rel='stylesheet')
        link(href='reveal/white.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
        <!-- Theme used for syntax highlighting of code -->
        link(rel="stylesheet" href="css/atom-light.css" id="highlight-theme")
        script(src="reveal/plugin/highlight/highlight.js")

-var counter = 0
body
    .reveal
        span.card-header
        span.card-footer
        .slides
            include ./slides/title.pug
            include ./slides/about-me.pug
            include ./slides/iteratec.pug
            include ./slides/qr.pug
            include ./slides/agenda.pug
            include ./slides/glossary.pug
            include ./slides/glossary-ar.pug
            include ./slides/why.pug
            include ./slides/been-there-done-that.pug
            include ./slides/webxr.pug
            include ./slides/webxr-def.pug
            include ./slides/webxr-device-api-status.pug
            include ./slides/can-i-use-2019.pug
            include ./slides/can-i-use.pug
            include ./slides/letstry.pug
            include ./slides/disclaimer.pug
            include ./slides/follow-me.pug
            include ./slides/requirements.pug
            include ./slides/example01.pug
            include ./slides/example01-webxr.pug
            include ./slides/example01-webxr2.pug
            include ./slides/example01-webgl.pug
            include ./slides/three-js.pug
            include ./slides/code-overview.pug
            include ./slides/code-import.pug
            include ./slides/code-import-2.pug
            include ./slides/code-import-3.pug
            include ./slides/code-init.pug
            include ./slides/code-init-2.pug
            include ./slides/code-init-3.pug
            include ./slides/code-init-4.pug
            include ./slides/code-animate.pug
            include ./slides/code-render.pug
            include ./slides/code-drawscene.pug
            include ./slides/code-drawscene-2.pug
            include ./slides/code-html.pug
            include ./slides/example02.pug
            include ./slides/example03-init.pug
            include ./slides/example03-drawscene.pug
            include ./slides/example03.pug
            include ./slides/example04-import.pug
            include ./slides/example04-init.pug
            include ./slides/example04-drawscene.pug
            include ./slides/example04.pug
            include ./slides/example05-import.pug
            include ./slides/example05-drawscene.pug
            include ./slides/example05-renderer.pug
            include ./slides/example05.pug
            include ./slides/example06-html.pug
            include ./slides/example06-drawscene.pug
            include ./slides/example06.pug
            include ./slides/example07-import.pug
            include ./slides/example07-init.pug
            include ./slides/example07-drawscene.pug
            include ./slides/example07-drawscene2.pug
            include ./slides/example07-drawscene3.pug
            include ./slides/example07-drawscene4.pug
            include ./slides/example07.pug
            include ./slides/example08-import.pug
            include ./slides/example08-init.pug
            include ./slides/example08-renderer.pug
            include ./slides/example08-drawscene.pug
            include ./slides/example08.pug
            include ./slides/example09-import.pug
            include ./slides/example09-init.pug
            include ./slides/example09-init2.pug
            include ./slides/example09-init3.pug
            include ./slides/example09-renderer.pug
            include ./slides/example09-renderer2.pug
            include ./slides/example09.pug
            include ./slides/example10-model.pug
            include ./slides/example10-code.pug
            include ./slides/example10-code2.pug
            include ./slides/example10-code3.pug
            include ./slides/example10.pug
            include ./slides/example11.pug
            include ./slides/vs-native-pros.pug
            include ./slides/vs-native-pros-2.pug
            include ./slides/vs-native-cons.pug
            include ./slides/problems.pug
            include ./slides/problems-2.pug
            include ./slides/play-around.pug

            include ./slides/example12.pug
    script(src='reveal/reveal.js')
    script.
        Reveal.initialize({
             controls: false,
            // progress: true,
            history: true,
            center: false,
            // center: true,
            // rollingLinks: true,
            // transition: "convex",
            // width: "90%",
            // height: 1.0,
            dependencies: [            ],
             plugins: [ RevealHighlight ]
        });
    script.
        Reveal.on('slidechanged', () => {

            const value = 2 + Math.floor(Math.random() * 11);
            const color = 1 + Math.floor(Math.random() * 4);

            function getCard(value) {
                switch (value) {
                    case 13:
                        return 'A';
                    case 12:
                        return 'K';
                    case 11:
                        return 'Q';
                    case 10:
                        return 'J';
                    default:
                        return value
                }
            }

            function getSuite(suite) {
                switch (suite) {
                    case 1:
                        return 'spades';
                    case 2:
                        return 'clubs';
                    case 3:
                        return 'diamonds';
                    case 4:
                        return 'hearts';
                }
            }

            const header = document.querySelector(".card-header")
            header.innerText = getCard(value);
            header.classList.remove('spades','clubs','diamonds','hearts')
            header.classList.add(getSuite(color))

            const footer = document.querySelector(".card-footer")
            footer.innerText = getCard(value);
            footer.classList.remove('spades','clubs','diamonds','hearts')
            footer.classList.add(getSuite(color))

        });
