extends layout.pug

block vars
  - var title = 'about-me'

block title
        | About me
block content
        div.flex
            ul
                li Paweł Kamiński
                li 10+ around IT
                li before Java Full-Stack
                li now more JavaScript and front-ends
                li
                    a.flex(href="https://twitter.com/kamyk_pl" style="justify-content: flex-start")
                       img(src="img/twitter.png" style="background:white; box-shadow:0 0 0; max-width:40px" alt="twitter logo")
                       span(style="color:black") kamyk_pl
                    a.flex(href="https://pl.linkedin.com/in/kamyk" style="justify-content: flex-start")
                        img(src="img/linkedin.png" style="background:white; box-shadow:0 0 0; max-width:40px" alt="linkedin logo")
                        span(style="color:black") LinkedIn
                li @iteratec
            img(src="img/pkaminski.jpg" style="border-radius: 90px;" alt="authors-img")
