extends layout.pug

block vars
  - var title = 'been-there-done-that-vr'

block title
        | Been there done that
block content
        ul.gridLike
                li.fragment.no-bullet
                    p Pokemon Go
                    img(src="img/pokemon-go.png" alt="Pokemon Go")
                li.fragment.no-bullet.asd.tac
                    p Mozzies
                    img(src="img/Mozzies.png" alt="Symbian Mozzies")
                    br
                    span.quote Symbian OS ~ 2003

