extends layout.pug 

block vars
  - var title = 'can-i-use'

block title
        | Can I use WebXR
block content
    img(src="img/can-i-use-2021.jpg" alt="can i use webxr screenshot" style="max-width: 750px;")
    p.small
        | Status for 2021-05-11
