extends layout-flex.pug

block vars
  - var title = 'three-js-images'

block title
        | Three.js example with images
block content
          div
              ul.flex.no-bullet
                      li
                          a(href="https://kamyk-pl.github.io/4-developers-2021-examples/03.html").tac
                            img(src="img/qr-03example.png" alt="qr code with link to third example" style="max-width: 750px;")

                      li
                           a(href="https://kamyk-pl.github.io/4-developers-2021-examples/03.html").tac
                                img(src="img/1book3.jpg" alt="link to third example")

