extends layout-flex.pug

block vars
  - var title = 'three-js-model'

block title
        | Three.js model
block content
          div
              ul.flex.no-bullet
                      li
                          a(href="https://kamyk-pl.github.io/4-developers-2021-examples/07.html").tac
                            img(src="img/qr-07example.png" alt="qr code with link to seventh example" style="max-width: 750px;")

                      li
                           a(href="https://kamyk-pl.github.io/4-developers-2021-examples/07.html").tac
                                img(src="img/1book25.jpg" alt="link to seventh example")

