extends layout-flex.pug

block vars
  - var title = 'code'

block title
        | Pure JS AR Example
block content
          div
              ul.flex.no-bullet
                      li
                          a(href="https://kamyk-pl.github.io/4-developers-2021-examples/01.html").tac
                            img(src="img/qr-01example.png" alt="qr code with link to first example" style="max-width: 750px;")

                      li
                           a(href="https://kamyk-pl.github.io/4-developers-2021-examples/01.html").tac
                                img(src="img/1book1.jpg" alt="qr code with link to first example")

