extends layout.pug

block vars
  - var title = 'use-images'

block title
        | Use images
block content
         section
            pre
              code.smaller-code(data-trim data-noescape data-line-numbers="3-8,10-11")
               |
               |         function drawScene() {
               |              const materials = [
               |                new THREE.MeshPhongMaterial({map: new THREE.TextureLoader()
               |                                                               .load('res/pers.png')}),
               |                new THREE.MeshPhongMaterial({map: new THREE.TextureLoader()
               |                                                               .load('res/dev.png')}),
               |                new THREE.MeshPhongMaterial({map: new THREE.TextureLoader()
               |                                                               .load('res/4dev.png')}),
               |                new THREE.MeshBasicMaterial({color: 0x00ff00}),
               |                new THREE.MeshPhongMaterial({map: new THREE.TextureLoader()
               |                                                               .load('res/elo.png')}),
               |                new THREE.MeshBasicMaterial({color: 0x00ffff}),
               |              ];
               |
               |              const cube = new THREE.Mesh(
               |                              new THREE.BoxBufferGeometry(0.05, 0.05, 0.05)
               |                                , materials);
               |              cube.position.set(0, 0, -0.3);
               |              scene.add(cube);
               |          }
               |
               |
