extends layout-flex.pug

block vars
  - var title = 'alice'

block title
        | Alice
block content
          div
              ul.flex.no-bullet
                      li
                          a(href="https://kamyk-pl.github.io/4-developers-2021-examples/alice.html").tac
                            img(src="img/qr-alice.png" alt="qr code with link to eleventh  example" style="max-width: 750px;")

                      li
                           a(href="https://kamyk-pl.github.io/4-developers-2021-examples/alice.html").tac
                                img(src="img/1book22.jpg" alt="link to eleventh example")

