extends layout-flex.pug

block vars
  - var title = 'Chess'

block title
        | Chess
block content
          div
              ul.flex.no-bullet
                      li
                          a(href="https://kamyk-pl.github.io/4-developers-2021-examples/chess.html").tac
                            img(src="img/qr-chess.png" alt="qr code with link to twelfth example" style="max-width: 750px;")

                      li
                           a(href="https://kamyk-pl.github.io/4-developers-2021-examples/chess.html").tac
                                img(src="img/1book41.jpg" alt="link to twelfth example")

