extends layout.pug

block vars
  - var title = 'clock'

block title
        | clock
block content
         section
            pre
             code.smaller-code(data-trim data-noescape data-line-numbers="12" )
               |
               | function init() {
               |  ...
               |
               |  const light = new THREE.HemisphereLight(0xffffff, 0xbbbbff, 1);
               |  light.position.set(0.5, 1, 0.25);
               |  scene.add(light);
               |
               |  controller = renderer.xr.getController(0);
               |  controller.addEventListener('select', onSelect);
               |  scene.add(controller);
               |
               |  clock = new THREE.Clock();
               |
               |  function onSelect() {
               |        drawScene();
               |   }
               |
               | ...
               |
