extends layout-flex.pug

block vars
  - var title = 'model-viewer'

block title
        | Model Viewer
block content
          a(href="https://modelviewer.dev/")
                 img(src="img/model-viewer.jpg" alt="Three js logo" style="max-width: 750px;")


