extends layout.pug

block vars
  - var title = 'use-controler-position'

block title
        | Use video
block content
         section
            pre
              code.smaller-code(data-trim data-noescape data-line-numbers="2,3,9")
               |
               |         function drawScene() {
               |              const video = document.getElementById('video');
               |              video.play();
               |              const materials = [
               |                new THREE.MeshPhongMaterial({map: new THREE.TextureLoader()
               |                                                               .load('res/pers.png')}),
               |                new THREE.MeshPhongMaterial({map: new THREE.TextureLoader()
               |                                                               .load('res/dev.png')}),
               |                new THREE.MeshPhongMaterial({map: new THREE.VideoTexture(video)}),
               |                new THREE.MeshBasicMaterial({color: 0x00ff00}),
               |                new THREE.MeshPhongMaterial({map: new THREE.TextureLoader()
               |                                                               .load('res/elo.png')}),
               |                new THREE.MeshBasicMaterial({color: 0x00ffff}),
               |              ];
               |              const cube = new THREE.Mesh(
               |                              new THREE.BoxBufferGeometry(0.05, 0.05, 0.05)
               |                                , materials);
               |              cube.position.set(0, 0, -0.3).applyMatrix4(controller.matrixWorld);
               |              cubes.push(cube);
               |              scene.add(cube);
               |          }
               |
               |
