extends layout-flex.pug

block vars
    - var title = 'video html'

block title
        | Video html element
block content
         section
            pre
             code(data-trim data-noescape data-line-numbers="1-8")
               |
               |   &lt;video id=&quot;video&quot;
               |          loop
               |          muted
               |          crossOrigin=&quot;anonymous&quot;
               |          playsinline
               |          style=&quot;display:none&quot;&gt;
               |       &lt;source src=&quot;res/video.mp4&quot;&gt;
               |   &lt;/video&gt;
               |
               |   &lt;div id=&quot;info&quot;&gt;
               |       &lt;p&gt;Three.js example with video&lt;/p&gt;
               |       &lt;a href=&quot;/&quot;&gt;Back&lt;/a&gt;
               |   &lt;/div&gt;
               |
               |
