extends layout.pug

block vars
  - var title = 'add-controller'

block title
        | add controller
block content
         section
            pre
             code(data-trim data-noescape data-line-numbers="6")
               |
               |     import * as THREE from 'three';
               |     import {ARButton}
               |              from './three/examples
               |                           /jsm/webxr/ARButton.js';
               |
               |     let camera, scene, renderer, controller;
               |
               |     init();
               |     animate();
               |
               |
               |
