extends layout-center.pug

block vars
  - var title = 'follow-me'

block title
        | Follow me
block content

              div
                  ul.flex.no-bullet
                      li.fragment.tac
                         a(href="") Link to this slide
                            img(src="img/qr-follow.png" alt="qr code with link to this slide" style="max-width: 750px;")



                      li.fragment.tac
                         a(href="https://kamyk-pl.github.io/4-developers-2021-examples/") kamyk-pl.github.io/4-developers-2021-examples/
                            img(src="img/qr-examples.png" alt="qr code with link to examples" style="max-width: 750px;")


