extends layout-center.pug

block vars
  - var title = 'glossary'

block title
        | Glossary

block content

    img(src="img/1book36.jpg" alt="can i use webxr screenshot" style="max-width: 750px;")

