extends layout-center.pug
block vars
  - var title = 'Lets-try'

block title
        | The best way to explain it is to do it
block content
    img(src="img/1book8.jpg" alt="why" style="max-width: 750px;")

