extends layout.pug

block vars
  - var title = 'challenges-size'

block title
        | Challenges
block content
        div.flex
            ul
                 li.fragment
                    p
                     | size of models => Dodo weigth ~13MB

                 li.fragment
                    p
                     | lack of UI guidelines and  good practices

            img(src="img/1book13.jpg" alt="challanges" style="max-height: 470px")
