extends layout-flex.pug

block vars
  - var title = 'presentation'

block title
        | Link to presentation
block content
          div
                a(href="https://kamyk-pl.github.io/4-developers-alice/index.html" ).tac kamyk-pl.github.io/4-developers-alice/
                    img(src="img/qr-presenation.png" alt="qr code with link to presentation" style="max-width: 750px; display:block;margin: 0 auto")



