extends layout-flex.pug

block vars
  - var title = 'requirements'

block title
        | WebXR Requirements
block content
        div.flex
            img(src="img/web-xr-ssl.jpg" alt="WebXR Requirements" style="max-width: 250px;")


