extends layout-left.pug

block vars
  - var title = 'title'




block content
        img(src="img/1book22.jpg", alt="Let's invite A(R)lice from Wonderland to our browsers")
        h2.alice
            | Let's invite
            br
            | A(R)lice from Wonderland
            br
            | to our browsers

        p(style="text-align: right; font-size:0.8em; margin-top:50px") Paweł Kamiński
                br
                a.flex(href="https://twitter.com/kamyk_pl" style="color:black; justify-content: flex-end")
                        img(src="img/twitter.png" style="background:white; box-shadow:0 0 0; max-width:65px" alt="twitter logo")
                        | ( kamyk_pl )
