extends layout.pug

block vars
  - var title = 'vs-native-cons'

block title
        | web vs native apps
block content
        h2 cons
        div.flex
            ul
                li.fragment it is not yet production ready
                li.fragment offline resources
                li.fragment performance
                li.fragment web limitation (saving files, offline mode, ...)
            img(src="img/1book21.jpg" alt="vs native" style="max-height: 470px;")

