extends layout.pug

block vars
  - var title = 'vs-native-pros'

block title
        | web vs native apps
block content
        h2 pros
        div.flex
                ul
                    li.fragment security
                    li.fragment extend current websites
                    li.fragment it is our playground with our tools
                        br
                        | (Dev Tools, Npm, VisualCode, ...)

                img(src="img/1book30.jpg" alt="vs natuve" style="max-height: 470px")
